body {
    font-family: sans-serif;
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #000000, #53346d);
    background: linear-gradient(to bottom, #000000, #53346d);
}

.info {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    text-align: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.credit {
    position: fixed;
    bottom: 0;
    color: #fff;
    opacity: 0.3;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.btn-set {
    position: fixed;
}
.btn-set .btn {
    position: fixed;
    top: 45%;
    left: 30%;
    height: 10%;
    width: 40%;
    background: none;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 5px;
    outline: none;
}
.btn-set .btn:hover {
    background: #fff;
    color: #000;
}

.btn-set a {
    position: fixed;
    top: 60%;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    color: white;
    outline: none;
}

.btn-set span {
    position: fixed;
    top: 65%;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    color: white;
    outline: none;
}

img {
    display: none;
}
